<div ng-repeat="film in films">
    <span class="" ng-repeat="name in film.names">
        <p>{{name}}</p></span>
    <span class="">{{film.code}}</span>
    <span class="">{{film.type}}</span>

    <span class="" ng-repeat="q in film.availableQuality">{{q}}</span>
    <span class="">{{film.hasDirectorsCut}}</span>
    <span class="">{{film.allTimesRate}}</span>
    <span class="" ng-repeat="t in film.tag">{{t}}</span>

    <span class="" ng-repeat="actor in film.actors">
        <a>{{actor}}</a>
    </span>

    <span class="">{{film.productionYear}}</span>
    <span class="">{{film.description}}</span>

    <span class="" ng-repeat="url in film.urls">
    <img src="{{url}}"/></span>
</div>